@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);
* {
  box-sizing: border-box;
  text-align: auto;
  font-style: normal;
  font-size: 18px;
}
body {
  font-family: sans-serif;
  margin: 0px;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgb(247, 199, 43);
  background: linear-gradient(90deg, rgba(141,233,233,1) 0%, rgba(48,170,75,1) 51%, rgba(0,255,70,1) 100%);
  background-size: cover;
  background-position: center;
}
